* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff; }
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10000;
    background: linear-gradient(to right, rgba(64, 42, 145, 0.4), rgba(63, 49, 112, 0.4)), url(../img/color.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.header {
  background-color: #000;
  height: 50vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 35vh, 0 100%);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: none;
      clip-path: none;
      z-index: -5000;
      height: 35vh; } }

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: 20vh; }

/*loader*/
.loader {
  background-color: #21133b;
  position: fixed;
  z-index: 5000;
  height: 100%;
  width: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  animation: load 5s ease; }
  .loader__spin {
    background-image: url(../img/yingyang.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 16px solid #d6a343;
    border-top: 16px solid #21133b;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 5s; }

.title {
  text-align: center;
  font-size: 7rem;
  font-family: 'The Nautigal', cursive;
  text-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.4);
  animation: appear 11s ease-in; }
  .title__sub {
    float: right;
    margin-bottom: 2rem;
    margin-right: 4%;
    margin-top: 2%;
    font-size: 2.5rem;
    animation: moveInRight 8s 8s backwards; }
  .title__sub2 {
    margin-left: 20%;
    font-family: 'The Nautigal', cursive;
    text-align: center;
    font-size: 3rem;
    animation: appear 11s 5s ease-in backwards; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .4;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .bg-video {
      height: 35vh; } }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.container {
  text-align: center;
  font-size: 2rem; }

.reden__order {
  display: flex;
  flex-direction: column;
  align-items: center; }

.reden__lijst {
  list-style: none;
  padding: 2rem;
  border-bottom: 1px solid;
  width: 45%; }
  @media only screen and (max-width: 37.5em) {
    .reden__lijst {
      width: 90%; } }

.voorstelling {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-bottom: 10rem; }
  .voorstelling__text {
    font-size: 1.8rem;
    padding: 5rem;
    width: 60%;
    background-image: linear-gradient(to right top, rgba(202, 68, 27, 0.6), rgba(62, 118, 170, 0.6)), url(../img/budha.jpg);
    background-attachment: fixed;
    background-position: center;
    opacity: .8;
    box-shadow: 0 1rem 1.5rem rgba(36, 35, 35, 0.4);
    border-radius: 100px; }
    @media only screen and (max-width: 37.5em) {
      .voorstelling__text {
        width: 100%;
        font-size: 1.8rem;
        border-radius: 0;
        padding: 1rem;
        background-attachment: scroll;
        background-size: cover; } }
    .voorstelling__text-img1 {
      margin-left: -15rem;
      background-image: linear-gradient(to right top, rgba(202, 68, 27, 0.6), rgba(62, 118, 170, 0.6)), url(../img/yingyang.jpg);
      background-attachment: fixed;
      background-position: center;
      background-size: 50%;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .voorstelling__text-img1 {
          width: 100%;
          font-size: 1.8rem;
          margin-left: 0;
          background-size: cover; } }
    .voorstelling__text-img2 {
      margin-left: 15rem;
      background-image: linear-gradient(to right top, rgba(202, 68, 27, 0.6), rgba(62, 118, 170, 0.6)), url(../img/shrishantra.jpg);
      background-attachment: fixed;
      background-size: 70%;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .voorstelling__text-img2 {
          background-size: cover;
          width: 100%;
          font-size: 1.8rem;
          margin-left: 0; } }
    .voorstelling__text-img3 {
      margin-left: -15rem;
      background-image: linear-gradient(to right top, rgba(202, 68, 27, 0.6), rgba(62, 118, 170, 0.6)), url(../img/levensbloem.jpg);
      background-attachment: fixed;
      background-position: center;
      background-size: 70%;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .voorstelling__text-img3 {
          width: 100%;
          font-size: 1.8rem;
          margin-left: 0;
          background-size: cover; } }

/*formulier*/
.afspraak__form {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .afspraak__form-invoer {
    color: #460683;
    padding-left: 1.5rem;
    width: 50%;
    height: 4rem;
    margin-bottom: 4rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-bottom: 1px solid #fff; }
    @media only screen and (max-width: 37.5em) {
      .afspraak__form-invoer {
        width: 90%; } }
  .afspraak__form-invoer:focus {
    background-color: rgba(255, 255, 255, 0.5); }
  .afspraak__form-text {
    font-size: 1.5rem; }

.btn {
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all .4s;
  text-transform: uppercase; }
  .btn:hover {
    transform: scale(1.1); }

/*navigatie*/
.nav__list {
  display: flex;
  justify-content: center; }

.nav__item {
  margin-left: 3rem;
  list-style: none;
  padding: 1.5rem 2rem;
  border-bottom: 1px dotted;
  cursor: pointer; }
  .nav__item:hover {
    border-radius: 3px;
    background-image: linear-gradient(to right, rgba(64, 42, 145, 0.2), rgba(63, 49, 112, 0.2)); }
  .nav__item-info {
    font-size: small;
    border-bottom: solid 1px rgba(59, 14, 143, 0.521); }

.nav__link {
  text-transform: uppercase;
  color: white;
  text-decoration: none; }

/*contact*/
.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
  margin-bottom: 2rem; }
  .contact__adres {
    text-align: center;
    border-radius: 4px;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, rgba(64, 42, 145, 0.1), rgba(63, 49, 112, 0.1));
    padding: 5rem;
    width: 20%; }
    @media only screen and (max-width: 37.5em) {
      .contact__adres {
        width: 100%;
        font-size: 1.8rem; } }

/* styling*/
.heading3 {
  margin-bottom: 8rem;
  font-size: 7rem;
  font-family: 'The Nautigal', cursive;
  margin-left: -60%; }
  @media only screen and (max-width: 37.5em) {
    .heading3 {
      margin-top: 2rem;
      margin-bottom: 4rem;
      margin-left: 0; } }

.heading4 {
  margin-bottom: 8rem;
  margin-left: -70%;
  font-size: 7rem;
  font-family: 'The Nautigal', cursive; }
  @media only screen and (max-width: 37.5em) {
    .heading4 {
      margin-left: 0; } }

.line {
  color: grey;
  margin-top: 10rem;
  transform: skewY(-2deg);
  height: 1px; }

.up {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem; }
  .up__ups {
    display: none;
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 1px solid;
    background-color: rgba(194, 194, 194, 0.219);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/*loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible; }
  90% {
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    opacity: 0; } }

@keyframes load {
  0% {
    opacity: 1;
    visibility: visible; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes jump {
  0% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(0); } }

.theway {
  float: right; }

.copyright {
  padding-top: 7%; }
  @media only screen and (max-width: 37.5em) {
    .copyright {
      padding-top: 20%; } }

.antwoord {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center; }
  .antwoord__link {
    text-decoration: none;
    color: inherit; }

.antwoord1 {
  font-size: smaller;
  margin-top: 5rem; }

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background-color: rgba(52, 12, 68, 0.4);
  animation: jump .5s infinite alternate-reverse; }

.hetantwoord {
  margin-top: 25rem;
  color: lightgray;
  font-size: smaller; }

.nicolas {
  width: 25rem;
  height: 25rem;
  border-radius: 50%; }

span {
  font-size: 2rem; }
